h3 #{projectName} Formulario de contacto
table(border='1', cellpadding='5', cellspacing='0')
  tr
    td Nombre:
    td #{name}
  tr
    td Email:
    td #{email}
  tr
    td Mensaje:
    td #{message}
