doctype html
html(lang='es' ng-app="Compartio")
	//    ___  __   _  _  ____   __   ____  ____    __  __  
	//   / __)/  \ ( \/ )(  _ \ / _\ (  _ \(_  _)  (  )/  \ 
	//  ( (__(  O )/ \/ \ ) __//    \ )   /  )(  _  )((  O )
	//   \___)\__/ \_)(_/(__)  \_/\_/(__\_) (__)(_)(__)\__/ 
	//
		
	include layouts/default-partials/html-head
	body(ng-controller="MainCtrl as main")
		div(ui-view="header")
		div(ui-view="content")
		include layouts/default-partials/scripts