h3 ¿Olvidaste tu contraseña?
p
  | Hemos recibido una petición para reestablecer la contraseña de tu cuenta (#{username}).
p
  | Para reestablecer tu contraseña, haz clic en el siguiente enlace (o copia y pega la URL en tu navegador):
p
  a(href='#{resetLink}') #{resetLink}
p
  | Gracias,
  br
  | El equipo de compart.io
