| ¿Olvidaste tu contraseña?
= '\n'
= '\n'
| Hemos recibido una petición para reestablecer la contraseña de tu cuenta (#{username}).
= '\n'
= '\n'
| Para reestablecer tu contraseña, haz clic en el siguiente enlace (o copia y pega la URL en tu navegador):
| #{resetLink}
= '\n'
= '\n'
| Gracias,
| El equipo de compart.io
