extends ../../layouts/header-footer

block head
  title Colabora

block neck
  link(rel='stylesheet', href='/views/colabora/index.min.css?#{cacheBreaker}')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,700', type='text/css')


block body
  div.row
    div.col-sm-12
      div.page-header
        h1 Colabora
        p.lead ¿Te gusta la idea?

      p Compart.io existe gracias a la colaboración y las aportaciones de voluntarios/as. Ser voluntario/a es una bonita oportunidad para conocer otras personas que creen en los valores de compartir y colaborar. ¡Y también es divertido!

      p Forma parte de alguno de los grupos de voluntarios/as. Comparte también tus habilidades y lo que puedas aportar al proyecto:

      ul
        li Programadores
        li Diseñadores
        li Testers
        li Comunicación

      h2 Desarrollo / Programación / Soporte
      p Si te gusta la programación y el desarrollo web, puedes ayudar a desarrollar el software de Compartio, solucionando incidencias o errores y/o proponiendo mejoras. Una bonita oportunidad para aprender en equipo y compartir conocimientos.

      h2 Diseño
      p Si eres diseñador, te gusta la usabilidad y/o sientes que tu creatividad podría ser útil para el proyecto, únete al equipo de diseño de Compartio!

      h2 Pruebas / Testers
      p En el proyecto es también importante la labor del tester, esto es, personas que prueban la aplicación y detectan incidencias o sugieren mejoras en la interfaz y funcionamiento del proyecto. Si eres una persona detallista, ésta puede ser una forma de colaborar en compartio!

      h2 Soporte
      p Los voluntarios del equipo de soporte contestan las preguntas y tratan de ayudar donde sea necesario, resolviendo incidencias y detectando anomalías en el uso de compartio. Es una gran forma de conocer el proyecto!

      h2 Comunicación
      p Si te gusta la comunicación y difundir el proyecto en redes sociales online y offline, no dudes en unirte a nuestro equipo : )