head
	title #{pageTitle}
	meta(charset = 'UTF-8')
	meta(http-equiv = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
	meta(name = 'description', content = metaDesc)
	meta(nam = 'viewport', content = 'width=device-width, initial-scale=1')
	link(href = '_css/main.css', rel = 'stylesheet')
	link(rel="canonical" href="https://www.airbnb.com/")
	link(rel="alternate" href="https://es.airbnb.com/" hreflang="es")
	link(rel="alternate" href="https://en.airbnb.com/" hreflang="en")

	meta(name='description', content='Alquila alojamientos únicos de anfitriones de más de 190 países. Siéntete como en tu propia casa con Airbnb, vayas donde vayas.')
	meta(property='fb:app_id', content='138566025676')  
	meta(property='og:site_name', content='Airbnb')  
	meta(property='og:type', content='website')  
	meta(property='og:url', content='https://www.airbnb.es/')  
	meta(property='og:title', content='Alquileres vacacionales, casas completas, apartamentos y habitaciones - Airbnb')  
	meta(property='og:description', content='Alquila alojamientos únicos de anfitriones de más de 190 países. Siéntete como en tu propia casa con Airbnb, vayas donde vayas.')  
	meta(property='og:image', content='https://a2.muscache.com/airbnb/static/logos/belo-400x400-084661b96df1341091ee5764587d8ed8.png')  
	meta(property='og:locale', content='es_ES')
	meta(name='twitter:widgets:csp', content='on')    
	meta(name='twitter:url', content='https://www.airbnb.es/')    
	meta(name='twitter:description', content='Alquila alojamientos únicos de anfitriones de más de 190 países. Siéntete como en tu propia casa con Airbnb, vayas donde vayas.')    
	meta(name='twitter:card', content='summary')    
	meta(name='twitter:title', content='Alquileres vacacionales, casas completas, apartamentos y habitaciones - Airbnb')    
	meta(name='twitter:site', content='@airbnb_es')    
	meta(name='twitter:app:name:iphone', content='Airbnb')    
	meta(name='twitter:app:name:ipad', content='Airbnb')    
	meta(name='twitter:app:name:googleplay', content='Airbnb')    
	meta(name='twitter:app:id:iphone', content='401626263')    
	meta(name='twitter:app:id:ipad', content='401626263')    
	meta(name='twitter:app:id:googleplay', content='com.airbnb.android')    
	meta(name='twitter:app:url:iphone', content='airbnb://')    
	meta(name='twitter:app:url:ipad', content='airbnb://')    
	meta(name='twitter:app:url:googleplay', content='airbnb://')

	link(rel="apple-touch-icon" sizes="57x57" href="/_img/favicons/apple-touch-icon-57x57.png")
	link(rel="apple-touch-icon" sizes="60x60" href="/_img/favicons/apple-touch-icon-60x60.png")
	link(rel="apple-touch-icon" sizes="72x72" href="/_img/favicons/apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon" sizes="76x76" href="/_img/favicons/apple-touch-icon-76x76.png")
	link(rel="apple-touch-icon" sizes="114x114" href="/_img/favicons/apple-touch-icon-114x114.png")
	link(rel="apple-touch-icon" sizes="120x120" href="/_img/favicons/apple-touch-icon-120x120.png")
	link(rel="apple-touch-icon" sizes="144x144" href="/_img/favicons/apple-touch-icon-144x144.png")
	link(rel="apple-touch-icon" sizes="152x152" href="/_img/favicons/apple-touch-icon-152x152.png")
	link(rel="apple-touch-icon" sizes="180x180" href="/_img/favicons/apple-touch-icon-180x180.png")
	link(rel="icon" type="image/png" href="/_img/favicons/favicon-32x32.png" sizes="32x32")
	link(rel="icon" type="image/png" href="/_img/favicons/android-chrome-192x192.png" sizes="192x192")
	link(rel="icon" type="image/png" href="/_img/favicons/favicon-96x96.png" sizes="96x96")
	link(rel="icon" type="image/png" href="/_img/favicons/favicon-16x16.png" sizes="16x16")
	link(rel="manifest" href="/_img/favicons/manifest.json")
	link(rel="shortcut icon" href="/_img/favicons/favicon.ico")
	meta(name="msapplication-TileColor" content="#da532c")
	meta(name="msapplication-TileImage" content="/_img/favicons/mstile-144x144.png")
	meta(name="msapplication-config" content="/_img/favicons/browserconfig.xml")
	meta(name="theme-color" content="#ffffff")
