@charset "UTF-8";
/** initial setup **/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700);
.nano {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }
  .nano .nano-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    overflow-x: hidden; }
    .nano .nano-content:focus {
      outline: thin dotted; }
    .nano .nano-content::-webkit-scrollbar {
      display: none; }
  .nano > .nano-pane {
    width: 10px;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .2s;
    border-radius: 5px;
    visibility: hidden\9;
    opacity: .01; }
    .nano > .nano-pane > .nano-slider {
      background: #444;
      background: rgba(0, 0, 0, 0.5);
      position: relative;
      margin: 0 1px;
      border-radius: 3px; }

.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block; }

.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility: visible\9;
  opacity: 0.99; }

@font-face {
  font-family: 'iconos';
  font-weight: normal;
  font-style: normal;
  src: url("../_fonts/iconos.eot");
  src: url("../_fonts/iconos.woff2") format("woff2"), url("../_fonts/iconos.woff") format("woff"), url("../_fonts/iconos.ttf") format("truetype"), url("../_fonts/iconos.eot?#iefix") format("embedded-opentype"); }

.icon[class^="icon-"],
.icon[class*=" icon-"] {
  display: inline-block;
  font-family: 'iconos';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none; }

.icon-busqueda:before {
  content: ""; }

.icon-categories:before {
  content: ""; }

.icon-categories_close:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-flecha1-down:before {
  content: ""; }

.icon-flecha1-left:before {
  content: ""; }

.icon-flecha1-right:before {
  content: ""; }

.icon-flecha1-up:before {
  content: ""; }

.icon-notifications:before {
  content: ""; }

.icon-notifications_on:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

/* variables and mixins */
/* tipografias */
footer {
  background-color: #B07F4E;
  padding: 10px 0; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
  footer > div {
    margin: 0 40px 0 40px; }
    @media only screen and (min-width: 760px) {
      footer > div {
        margin: 0 20px 0 40px; } }
    @media only screen and (min-width: 760px) {
      footer > div > div {
        float: left;
        width: 50%;
        padding-right: 20px; } }
    footer > div ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      vertical-align: middle; }
      footer > div ul li {
        display: inline-block;
        vertical-align: middle;
        color: #fff; }
        footer > div ul li a {
          display: inline-block;
          color: #fff;
          text-decoration: none;
          margin: 0 4px; }
        footer > div ul li.facebook a span:first-child {
          /* @include icon('before', 'facebook', true) */
          font-size: 24px; }
        footer > div ul li.facebook a span:last-child {
          display: none; }
        footer > div ul li.twitter a span:first-child {
          font-size: 24px; }
        footer > div ul li.twitter a span:last-child {
          display: none; }
      footer > div ul.corp li:before {
        display: inline-block;
        vertical-align: middle;
        content: "·"; }
      footer > div ul.corp li:first-child:before {
        content: ""; }
      footer > div ul.corp li a {
        margin: 0 4px 0 8px; }
    footer > div .col1 ul li a {
      font-size: 12px;
      text-transform: uppercase; }
    @media only screen and (min-width: 760px) {
      footer > div .col2 {
        text-align: right; } }
    footer > div .col2 ul li a {
      font-size: 0.6875em;
      text-decoration: underline; }

.select {
  position: relative;
  display: inline-block;
  font-size: 0.8125em; }
  .select.disabled {
    opacity: 0.2; }
    .select.disabled a {
      cursor: default; }
  .select > .button {
    display: block;
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    color: #F4ECE1;
    background-color: #58331E;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
    .select > .button > span > span {
      display: inline-block;
      font-family: 'iconos';
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 1;
      text-transform: none;
      float: right;
      margin-top: 2px;
      font-size: 0.7em;
      margin-left: 10px; }
      .select > .button > span > span:before {
        content: "";
        font-size: 1.375em; }
  .select.selected > .button a {
    color: #58331E;
    background-color: #F4ECE1; }
  .select > .dropdown {
    display: none;
    position: absolute;
    height: 300px;
    z-index: 20; }
    .select > .dropdown > .nano-pane {
      background: #C0A99D;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 9px; }
      .select > .dropdown > .nano-pane .nano-slider {
        background: #7B543E;
        margin: 0px 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; }
    .select > .dropdown ul {
      list-style: none;
      margin: 0;
      padding: 0;
      background-color: #F4ECE1;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
      .select > .dropdown ul li {
        display: block;
        padding: 8px 10px 8px 10px;
        text-decoration: none;
        white-space: nowrap;
        color: #58331E;
        cursor: pointer; }
        .select > .dropdown ul li.selected, .select > .dropdown ul li:hover {
          background-color: #E1D4C3; }
        .select > .dropdown ul li.link {
          font-weight: 700; }
        .select > .dropdown ul li:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px; }
  .select.open > .button a {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #58331E;
    background-color: #F4ECE1; }
  .select.open > .dropdown {
    display: block; }

.input_search {
  position: relative;
  display: inline-block; }
  .input_search input {
    vertical-align: middle;
    padding: 7px 10px 7px 9px;
    border: 1px solid #F4ECE1;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    font-size: 0.8125em;
    color: #58331E;
    line-height: 18px; }
    .input_search input:focus, .input_search input:active {
      border-color: #58331E; }
    .input_search input::-webkit-input-placeholder {
      color: #58331E;
      font-style: italic; }
    .input_search input::-moz-placeholder {
      color: #58331E;
      font-style: italic; }
    .input_search input:-moz-placeholder {
      color: #58331E;
      font-style: italic; }
    .input_search input:-ms-input-placeholder {
      color: #58331E;
      font-style: italic; }
    .input_search input[disabled] {
      opacity: 0.4; }
      .input_search input[disabled]:focus, .input_search input[disabled]:active {
        border-color: #F4ECE1; }
  .input_search button {
    vertical-align: middle;
    padding: 5px 5px 5px 5px;
    margin-left: -6px;
    border: 0;
    background-color: #58331E;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px; }
    .input_search button:focus, .input_search button:active {
      background-color: #F4ECE1; }
      .input_search button:focus span:before, .input_search button:active span:before {
        color: #58331E; }
    .input_search button[disabled] {
      opacity: 0.4; }
      .input_search button[disabled]:focus, .input_search button[disabled]:active {
        border-color: #F4ECE1; }
        .input_search button[disabled]:focus span:before, .input_search button[disabled]:active span:before {
          color: #F4ECE1; }
    .input_search button span {
      display: inline-block;
      font-family: 'iconos';
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 1;
      text-transform: none; }
      .input_search button span:before {
        content: "";
        font-size: 1.25rem; }
      .input_search button span:before {
        line-height: 24px;
        color: #fff; }

body {
  margin: 0; }

#container {
  position: relative;
  margin: 0px auto;
  border: 8px solid #fff;
  border-right: 0;
  background-color: #fff; }
  @media (min-width: 158px) {
    #container {
      width: 158px; } }
  @media (min-width: 316px) {
    #container {
      width: 316px; } }
  @media (min-width: 474px) {
    #container {
      width: 474px; } }
  @media (min-width: 632px) {
    #container {
      width: 632px; } }
  @media (min-width: 790px) {
    #container {
      width: 790px; } }
  @media (min-width: 948px) {
    #container {
      width: 948px; } }
  @media (min-width: 1106px) {
    #container {
      width: 1106px; } }
  @media (min-width: 1264px) {
    #container {
      width: 1264px; } }
  @media (min-width: 1422px) {
    #container {
      width: 1422px; } }
  @media (min-width: 1580px) {
    #container {
      width: 1580px; } }
  @media (min-width: 1738px) {
    #container {
      width: 1738px; } }
  @media (min-width: 1896px) {
    #container {
      width: 1896px; } }
  @media (min-width: 2054px) {
    #container {
      width: 2054px; } }
  @media (min-width: 2212px) {
    #container {
      width: 2212px; } }
  @media (min-width: 2370px) {
    #container {
      width: 2370px; } }
  @media (min-width: 2528px) {
    #container {
      width: 2528px; } }
  @media (min-width: 2686px) {
    #container {
      width: 2686px; } }
  @media (min-width: 2844px) {
    #container {
      width: 2844px; } }
  @media (min-width: 3002px) {
    #container {
      width: 3002px; } }
  @media (min-width: 3160px) {
    #container {
      width: 3160px; } }
  #container .box {
    position: relative; }
    #container .box > a {
      position: absolute;
      display: none;
      top: 0;
      right: 0;
      bottom: 30px;
      left: 0; }
    #container .box > span {
      display: none;
      position: absolute;
      width: 4px;
      height: 4px;
      background-color: #f00;
      top: 0;
      left: 0; }
      #container .box > span.point2 {
        background-color: #00f; }

header#header-list {
  padding: 20px 25px 20px 25px;
  background-color: #fff; }
  @media (min-width: 768px) {
    header#header-list {
      padding: 40px 50px 40px 50px; } }
  header#header-list .row1::after {
    clear: both;
    content: "";
    display: table; }
  @media (min-width: 768px) {
    header#header-list .row1 .logo {
      float: left;
      width: 50%; } }
  header#header-list .row1 .logo h1 {
    display: inline-block;
    margin: 0 0 20px 0;
    width: 288px;
    height: 34px;
    background-image: url("../_img/logo_cab_list.png");
    background-size: 288px 34px;
    text-indent: -100%; }
    @media (min-width: 768px) {
      header#header-list .row1 .logo h1 {
        margin: 0 0 40px 0; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      header#header-list .row1 .logo h1 {
        background-image: url("../_img/logo_cab_list_2x.png");
        background-size: 288px 34px; } }
    header#header-list .row1 .logo h1 a {
      display: block;
      width: 288px;
      height: 34px; }
  @media (min-width: 768px) {
    header#header-list .row1 .user-box-container {
      float: left;
      width: 50%;
      margin-top: 0;
      text-align: right; } }
  header#header-list .row1 .user-box-container .user-box {
    display: inline-block; }
    header#header-list .row1 .user-box-container .user-box.logged a {
      display: inline-block;
      vertical-align: bottom;
      height: 35px; }
      header#header-list .row1 .user-box-container .user-box.logged a.usuario {
        padding: 6px 0 0 0;
        margin-right: 10px;
        font-size: 13px;
        text-decoration: none;
        color: #58331E; }
        header#header-list .row1 .user-box-container .user-box.logged a.usuario:hover {
          text-decoration: none;
          color: #B89267; }
      header#header-list .row1 .user-box-container .user-box.logged a.perfil {
        padding-bottom: 2px; }
        header#header-list .row1 .user-box-container .user-box.logged a.perfil img {
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
          border-bottom-left-radius: 50%;
          border-bottom-right-radius: 50%; }
      header#header-list .row1 .user-box-container .user-box.logged a.notifications {
        padding-top: 2px;
        text-decoration: none;
        line-height: 30px;
        color: #58331E; }
        header#header-list .row1 .user-box-container .user-box.logged a.notifications span {
          display: inline-block;
          font-family: 'iconos';
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          line-height: 1;
          text-transform: none; }
          header#header-list .row1 .user-box-container .user-box.logged a.notifications span:before {
            content: ""; }
          header#header-list .row1 .user-box-container .user-box.logged a.notifications span:before {
            font-size: 2.0625rem; }
        header#header-list .row1 .user-box-container .user-box.logged a.notifications:hover {
          color: #B89267; }
        header#header-list .row1 .user-box-container .user-box.logged a.notifications.on {
          padding-top: 6px;
          color: #F24706; }
          header#header-list .row1 .user-box-container .user-box.logged a.notifications.on span {
            display: inline-block;
            font-family: 'iconos';
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            line-height: 1;
            text-transform: none; }
            header#header-list .row1 .user-box-container .user-box.logged a.notifications.on span:before {
              content: ""; }
            header#header-list .row1 .user-box-container .user-box.logged a.notifications.on span:before {
              font-size: 2.575rem;
              line-height: 30px; }
          header#header-list .row1 .user-box-container .user-box.logged a.notifications.on:hover {
            color: #B89267; }
    @media (min-width: 768px) {
      header#header-list .row1 .user-box-container .user-box.not-logged {
        padding-top: 5px; } }
    header#header-list .row1 .user-box-container .user-box.not-logged a {
      display: inline-block;
      margin: 0 24px 0 0;
      font-size: 0.8125em;
      line-height: 1em;
      text-transform: uppercase;
      text-decoration: none;
      color: #58331E; }
      @media (min-width: 768px) {
        header#header-list .row1 .user-box-container .user-box.not-logged a {
          margin: 0 0 0 24px; } }
      header#header-list .row1 .user-box-container .user-box.not-logged a:hover {
        color: #E1D4C3; }
  header#header-list .phrase {
    display: block; }
    header#header-list .phrase::after {
      clear: both;
      content: "";
      display: table; }
    header#header-list .phrase .part1 {
      float: left; }
    header#header-list .phrase form > span {
      font-size: 0.8125em;
      color: #58331E;
      line-height: 18px; }
      header#header-list .phrase form > span.disabled {
        opacity: 0.4; }
    header#header-list .phrase .select {
      vertical-align: middle;
      margin: 0 3px; }
      header#header-list .phrase .select.city {
        width: 202px; }
        header#header-list .phrase .select.city > .dropdown {
          width: 202px; }
      header#header-list .phrase .select.action {
        width: 150px; }
        header#header-list .phrase .select.action > .dropdown {
          width: 150px; }
    header#header-list .phrase .input_search {
      vertical-align: middle; }
    header#header-list .phrase .categories {
      float: right;
      text-align: right; }
      header#header-list .phrase .categories a {
        font-size: 0.8125em;
        text-decoration: none;
        color: #B89267; }
        header#header-list .phrase .categories a:hover {
          color: #58331E; }
        header#header-list .phrase .categories a span {
          display: inline-block;
          font-family: 'iconos';
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          line-height: 1;
          text-transform: none;
          margin-left: 10px; }
          header#header-list .phrase .categories a span:before {
            content: ""; }
          header#header-list .phrase .categories a span:before {
            font-size: 1.0625em; }
      header#header-list .phrase .categories.disabled {
        opacity: 0.4; }
        header#header-list .phrase .categories.disabled a:hover {
          color: #B89267; }
      header#header-list .phrase .categories.opened span {
        display: inline-block;
        font-family: 'iconos';
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        text-transform: none; }
        header#header-list .phrase .categories.opened span:before {
          content: ""; }

header#header-home {
  height: 460px; }
  header#header-home .background1 {
    width: 100%;
    height: 460px;
    background-image: url(../_img/header_background_1.png);
    background-size: auto 460px; }
  header#header-home .background2 {
    width: 100%;
    height: 460px;
    padding: 50px 40px 40px 40px;
    background-image: url(../_img/header_background_2.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 273px; }
    header#header-home .background2 .col1 {
      text-align: center; }
      @media only screen and (min-width: 760px) {
        header#header-home .background2 .col1 {
          float: left;
          width: 60%; } }
      @media only screen and (min-width: 450px) {
        header#header-home .background2 .col1 {
          text-align: left; } }
      header#header-home .background2 .col1 h1 {
        position: relative;
        display: inline-block;
        width: 273px;
        height: 32px;
        margin: 0;
        background: url(../_img/logo.png) no-repeat center center;
        background-size: 273px 32px; }
        header#header-home .background2 .col1 h1 a,
        header#header-home .background2 .col1 h1 span {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          text-indent: -999px; }
      header#header-home .background2 .col1 p {
        max-width: 340px;
        font-size: 17px;
        font-weight: 300;
        line-height: 28px;
        color: #fff; }
        header#header-home .background2 .col1 p strong {
          font-weight: 700; }
      header#header-home .background2 .col1 .select {
        margin-bottom: 12px;
        width: 202px; }
        header#header-home .background2 .col1 .select .button a {
          background-color: #E1D4C3;
          color: #58331E; }
        header#header-home .background2 .col1 .select > .dropdown {
          width: 202px; }
    header#header-home .background2 .col2 {
      text-align: center; }
      @media only screen and (min-width: 760px) {
        header#header-home .background2 .col2 {
          float: right;
          width: 40%; } }
      @media only screen and (min-width: 450px) {
        header#header-home .background2 .col2 {
          text-align: left; } }
      @media only screen and (min-width: 760px) {
        header#header-home .background2 .col2 {
          text-align: right; } }

footer {
  background-color: #B07F4E;
  padding: 10px 0; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
  footer > div {
    margin: 0 40px 0 40px; }
    @media only screen and (min-width: 760px) {
      footer > div {
        margin: 0 20px 0 40px; } }
    @media only screen and (min-width: 760px) {
      footer > div > div {
        float: left;
        width: 50%;
        padding-right: 20px; } }
    footer > div ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      vertical-align: middle; }
      footer > div ul li {
        display: inline-block;
        vertical-align: middle;
        color: #fff; }
        footer > div ul li a {
          display: inline-block;
          color: #fff;
          text-decoration: none;
          margin: 0 4px; }
        footer > div ul li.facebook a span:first-child {
          /* @include icon('before', 'facebook', true) */
          font-size: 24px; }
        footer > div ul li.facebook a span:last-child {
          display: none; }
        footer > div ul li.twitter a span:first-child {
          font-size: 24px; }
        footer > div ul li.twitter a span:last-child {
          display: none; }
      footer > div ul.corp li:before {
        display: inline-block;
        vertical-align: middle;
        content: "·"; }
      footer > div ul.corp li:first-child:before {
        content: ""; }
      footer > div ul.corp li a {
        margin: 0 4px 0 8px; }
    footer > div .col1 ul li a {
      font-size: 12px;
      text-transform: uppercase; }
    @media only screen and (min-width: 760px) {
      footer > div .col2 {
        text-align: right; } }
    footer > div .col2 ul li a {
      font-size: 0.6875em;
      text-decoration: underline; }

#userpanel .not-logged a {
  display: inline-block;
  padding: 6px 8px;
  margin-left: 6px;
  font-size: 11px;
  text-decoration: none;
  color: #B07F4E;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px; }
  #userpanel .not-logged a:first-child {
    margin-left: 0; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #575756; }

* {
  box-sizing: border-box; }

*:focus, *:active {
  outline: 0; }

* {
  -webkit-font-smoothing: antialiased; }

#contenido-home1 > div {
  margin: 40px 40px 40px 40px; }
  @media only screen and (min-width: 760px) {
    #contenido-home1 > div {
      margin: 40px 20px 40px 40px; } }
  #contenido-home1 > div > div {
    text-align: center; }
    @media only screen and (min-width: 760px) {
      #contenido-home1 > div > div {
        float: left;
        width: 33.3%;
        padding-right: 20px;
        margin-bottom: 20px; } }
    #contenido-home1 > div > div h3 {
      font-size: 21px;
      line-height: 28px;
      text-transform: uppercase;
      font-weight: 600; }
    #contenido-home1 > div > div p {
      font-size: 12px;
      line-height: 19px; }
    #contenido-home1 > div > div:nth-child(1) {
      color: #B07F4E; }
    #contenido-home1 > div > div:nth-child(2) {
      color: #0D6D6B; }
    #contenido-home1 > div > div:nth-child(3) {
      color: #575756; }

#contenido-home2 {
  clear: both;
  background-color: #F1F1F1; }
  #contenido-home2::after {
    clear: both;
    content: "";
    display: table; }
  #contenido-home2 > div {
    margin: 40px 40px 40px 40px; }
    #contenido-home2 > div .svgmask {
      height: 0;
      overflow-y: hidden; }
    #contenido-home2 > div h5 {
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase;
      margin: 20px 0 10px 0; }
    #contenido-home2 > div::after {
      clear: both;
      content: "";
      display: table; }
    @media only screen and (min-width: 760px) {
      #contenido-home2 > div {
        margin: 40px 20px 40px 40px; } }
    @media only screen and (min-width: 760px) {
      #contenido-home2 > div > div {
        float: left;
        width: 50%;
        padding-right: 20px; } }
    #contenido-home2 > div .svgs > div {
      float: left;
      width: 30%;
      margin-right: 3.3%; }
    #contenido-home2 > div a.popupvideo {
      display: block;
      position: relative;
      border-bottom-left-radius: 7px;
      border-top-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-right-radius: 7px; }
      #contenido-home2 > div a.popupvideo img {
        width: 100%;
        height: auto;
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px; }
      #contenido-home2 > div a.popupvideo > span {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        z-index: 100;
        text-align: center; }
        #contenido-home2 > div a.popupvideo > span > span {
          position: absolute;
          display: block;
          top: 50%;
          left: 50%;
          margin-top: -52px;
          margin-left: -52px;
          width: 104px;
          height: 104px;
          background-color: rgba(0, 0, 0, 0.8);
          border-bottom-left-radius: 50%;
          border-top-left-radius: 50%;
          border-bottom-right-radius: 50%;
          border-top-right-radius: 50%; }
          #contenido-home2 > div a.popupvideo > span > span > span {
            display: block;
            color: #fff;
            margin: 31px 0 0 0px;
            font-size: 2.5em; }
      #contenido-home2 > div a.popupvideo:hover > span > span {
        background-color: rgba(255, 255, 255, 0.8); }
        #contenido-home2 > div a.popupvideo:hover > span > span > span {
          color: #000; }

/* @import inicio */
