.select(ng-click="dropdownChange")
	.button
		a(href="#")
			| Selecciona una ciudadaa
			span
	.dropdown.nano
		ul.nano-content
			li.link
				a(href="#")
					| ¿No ves tu ciudad?
			li.link
				a(href="#")
					| ¿No ves tu ciudad?
			li.link
				a(href="#")
					| ¿No ves tu ciudad?
			li.link
				a(href="#")
					| ¿No ves tu ciudad?
			li.link
				a(href="#")
					| ¿No ves tu ciudad?
			li.link
				a(href="#")
					| ¿No ves tu ciudad?
			li.link
				a(href="#")
					| ¿No ves tu ciudad?
			li.link
				a(href="#")
					| ¿No ves tu ciudad?