.select(ng-click="dropdownChange" ng-class="{ open: listVisible }")
	.button(ng-click="show();")
		span(ng-if="!isPlaceholder")
			| {{display}}
			span
		span(ng-if="isPlaceholder")
			| {{placeholder}}
			span
	.dropdown.nano
		ul.nano-content
			li(ng-repeat="item in list" ng-click="select(item)" ng-class="{ selected: isSelected(item) }")
				| {{property !== undefined ? item[property] : item}}