header#header-home
	dropdown
	div.background1
		div.background2
			.col1
				h1
					span Compartio
				p
					strong ¡Bienvenido!
					br
					| Este es un espacio donde buscar lo que necesitas y dar lo que te sobra.
				.select
					.button
						input(type="hidden" name="city" value="cordoba")
						a(href="#")
							| Selecciona una ciudad
							span
					.dropdown.nano
						ul.nano-content
							li.link
								a(href="#")
									| ¿No ves tu ciudad?
							li.link
								a(href="#")
									| ¿No ves tu ciudad?
							li.link
								a(href="#")
									| ¿No ves tu ciudad?
							li.link
								a(href="#")
									| ¿No ves tu ciudad?
							li.link
								a(href="#")
									| ¿No ves tu ciudad?
							li.link
								a(href="#")
									| ¿No ves tu ciudad?
							li.link
								a(href="#")
									| ¿No ves tu ciudad?
							li.link
								a(href="#")
									| ¿No ves tu ciudad?
			.col2
				#userpanel
					.not-logged
						a(href="#") Entrar
						a(href="#") Crear cuenta
