

.login{
  form a{
    font-weight: 500;
    text-decoration: underline;
  }

  .form-group{

  }
  .form-actions{
    margin-top: 8px;
  }
  .form-actions .btn {
      font-size: 17px;
      padding: 12px 16px;
      width: 100%;
  }
  .form-control{
    background: #E8E3E0;
    border: none;
    color: #58331E;
  }
}

.page-header{
  border: none;
}

label{
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  color: #4A4A4A;
}

.help-block{
  color: #D0021B;
  font-size: 12px;
  font-weight: 500;
}

.btn-primary{
  background-color: #58331E;
  background-image: none;
  border-color: #58331E;
  color: #FFF;
  text-transform: uppercase;
}

.btn-primary:hover{
  background: #8B572A;
  border-color: #8B572A;  
  }

