extends ../../layouts/default

block head
  title Acerca

block neck
  link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')

block body
  div.row
    div.col-sm-12
      div.page-header
        h1 Compart.io
        p.lead Busca lo que necesitas y regala lo que te sobra.

      p Compart.io es un proyecto social de consumo colaborativo, abierto, libre y sin ánimo de lucro, desarrollado por voluntarios y voluntarias. Se trata de un espacio donde buscar lo que necesitas y regalar lo que te sobra.
      p El equipo inicial de mantenedores de compart.io está formado por Álvaro Saco, Toni Castillo, Delphine Gimbert, Javier Jiménez y Magda Sánchez.
      p Nuestra idea es, una vez lancemos la primera versión de compart.io, liberar el código incluyendo toda la documentación necesaria y las formas posibles de contribuir. ¿Tienes alguna idea o sugerencia? Escríbenos!