
<div ng-click="dropdownChange" class="select">
  <div class="button"><a href="#">Selecciona una ciudadaa<span></span></a></div>
  <div class="dropdown nano">
    <ul class="nano-content">
      <li class="link"><a href="#">¿No ves tu ciudad?</a></li>
      <li class="link"><a href="#">¿No ves tu ciudad?</a></li>
      <li class="link"><a href="#">¿No ves tu ciudad?</a></li>
      <li class="link"><a href="#">¿No ves tu ciudad?</a></li>
      <li class="link"><a href="#">¿No ves tu ciudad?</a></li>
      <li class="link"><a href="#">¿No ves tu ciudad?</a></li>
      <li class="link"><a href="#">¿No ves tu ciudad?</a></li>
      <li class="link"><a href="#">¿No ves tu ciudad?</a></li>
    </ul>
  </div>
</div>