
<header id="header-home">
  <dropdown></dropdown>
  <div class="background1">
    <div class="background2">
      <div class="col1">
        <h1><span>Compartio</span></h1>
        <p><strong>¡Bienvenido!</strong><br/>Este es un espacio donde buscar lo que necesitas y dar lo que te sobra.</p>
        <div class="select">
          <div class="button">
            <input type="hidden" name="city" value="cordoba"/><a href="#">Selecciona una ciudad<span></span></a>
          </div>
          <div class="dropdown nano">
            <ul class="nano-content">
              <li class="link"><a href="#">¿No ves tu ciudad?</a></li>
              <li class="link"><a href="#">¿No ves tu ciudad?</a></li>
              <li class="link"><a href="#">¿No ves tu ciudad?</a></li>
              <li class="link"><a href="#">¿No ves tu ciudad?</a></li>
              <li class="link"><a href="#">¿No ves tu ciudad?</a></li>
              <li class="link"><a href="#">¿No ves tu ciudad?</a></li>
              <li class="link"><a href="#">¿No ves tu ciudad?</a></li>
              <li class="link"><a href="#">¿No ves tu ciudad?</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col2">
        <div id="userpanel">
          <div class="not-logged"><a href="#">Entrar</a><a href="#">Crear cuenta</a></div>
        </div>
      </div>
    </div>
  </div>
</header>